
#calculator {
    background: #333;
    max-width: 25rem;
    margin: 5rem auto;
    padding: 1.5rem 1rem 0.5rem 1rem;
    border: 1px solid;
    border-radius: 0.5rem;
}

#display-panel {
    font-family: "Terminal", monospace;
    letter-spacing: 0.1em;
    text-align: right;
    color: #0E0;
    background: #002200;
    margin: 0.5rem 0;
    padding: 0.25rem;
}

#display-operator{
    font-size: 1.5rem;
    line-height: 1em;
}

#display {
    font-size: 2em;
    line-height: 1em;
    font-weight: bold;
    overflow: hidden;
}

#calc-pad {
    margin: 1rem 0 0.5rem 0;
    font-size: 1.5rem;
    display: grid;
    grid-gap: 0.5rem;
    grid-template-areas:
        "clear . . divide"
        "seven eight nine multiply"
        "four five six subtract"
        "one two three add"
        "decimal zero equals add";
}

#calc-pad > button {
    padding: 0.5rem;
}

#clear {
    grid-area: clear;
    background: #FF6600;
    color: #fff;
}

#equals {
    grid-area: equals;
}

#add {
    grid-area: add;
}

#subtract {
    grid-area: subtract;
}

#multiply {
    grid-area: multiply;
}

#divide {

    grid-area: divide;
}

#decimal {
    grid-area: decimal;
}

#zero {
    grid-area: zero;
}

#one {
    grid-area: one;
}

#two {
    grid-area: two;
}

#three {
    grid-area: three;
}

#four {
    grid-area: four;
}

#five {
    grid-area: five;
}

#six {
    grid-area: six;
}

#seven {
    grid-area: seven;
}

#eight {
    grid-area: eight;
}

#nine {
    grid-area: nine;
}
