@import url('https://fonts.googleapis.com/css?family=Cardo&display=swap');

#quote-box{
    background: #fff;
}

#text::before,
#text::after {
    font-family: "Cardo display";
    color: #CCC;
}

#quote-buttons i.fa-twitter{
    font-size: 1.75rem;
}

#quote-text{
    padding: 1em;
    font-size: 3rem;
}

#author {
    font-size: 1.5rem;
}
